.hero {
  padding-bottom: 311px;
  background-image: url("../images/hero-bg.png"), url("../images/parrot.png");
  background-repeat: no-repeat;
  background-size: 870px 835px, 350px 430px;
  background-position: calc(50% - 535px) calc(50% - 180px), calc(50% + 646px) calc(50% + 117px);
}

.hero__inner {
    padding-top: 153px;
}

.hero__info {
    width: 608px;
    margin-left: auto;
    margin-right: 32px;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    color: #333333;
}

.hero__blue {
    color: #78C0DE;
}

.box {
    width: 495px;
}

.box__text {
    margin-top: 0;
    margin-bottom: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #949494;
}

.hero__button {
    width: 181px;
    padding-top: 15px;
    padding-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    background: #333333;
    border-radius: 3px;

    &:hover {
        background-color: #333333cc;
    }

    &:active {
        background-color: #33333399;
    }
}



















